/public/build
/public/hot
/public/storage
/public/.htaccess
/public/assets/TFM_request_response.php
public/inventory_stock_manage.txt
/storage/*.key
.env
.htaccess
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.sql
.cpanel.yaml
/.idea
/.vscode
inventory_stock_manage.txt
**/.DS_Store
