.card-body {
    /* font-size: 22px !important; */
}
.sidebar .menu .sidebar-menu .treeview a {
    font-size: 14px;
}
.sidebar .menu .sidebar-menu li.active>:first-child {
    /* color: #2196f3; */
    color: #25bd1f;
}
.treeview ul li {
    padding-left: 6px;
}
.treeview ul li a i{
    padding-right: 0px !important;
}
.sidebar-menu>li>a {
    color: #090909;
}
.sidebar-menu .treeview-menu>li>a {
    color: #090909;
}
.navbar-nav>.user-menu>.dropdown-menu {
    width: 174px !important;
}
.invalid-feedback {
    /* color: red; */
    display: block !important;
    margin-top: 0px;
    font-size: 100%;
}
.duties-section {
    font-weight: 700 !important;
}
.duties-section hr {
    border-top: 1px solid white !important;
}

.staff-duty-box {
    box-shadow: 5px 5px 7px 0px gray;
}
form button .icon {
    padding-right: 1px !important;
}

.sweet-alert button {
    font-size: 15px !important;
    padding: 5px 20px !important;
}
.card>.panel-heading {
    color: #333;
    background-color: #dddddda1;
    border-color: #ddd;
}

.img-td {
    vertical-align: top !important;
}
span>a>svg {
    max-width: 32px !important;
}
span>svg {
    max-width: 32px !important;
}
/* tr, td {
    padding: 5px !important;
} */
.table table tbody tr td{
    padding: 4px;
    /* border-top: 1px solid #eee; */
    background-color: white;
}
.table td, .table th {
    /* vertical-align: unset; */
}
.out-stock {
    background-color: #ff4900 !important;
}
.card-head {
    float: left;
}
.btn-card-head {
    float: left;
}